hr {
	margin: 3px;
}

.listPreguntas{
	margin: 30px auto 0px auto;
	max-width: 200px;
}

.btn-position{
	max-width: 750px;
	margin: auto;
}

.btn-list-modal{
	margin-bottom: 5px;
}

.row{
	margin-right: 0;
    margin-left: 0;
}

.textoPuntuacion{
	font-size: 80px;
}

.modal-title {
	margin-left: auto;
	margin-right: auto;
    margin-bottom: 0;
    padding-bottom: 15px;
    line-height: var(--bs-modal-title-line-height);
}

.familias{
	text-align: center;
}

.familiasCol{
	font-size: 60px;
}

.tabla-respuestas{
	margin: auto;
	text-align: center;
	max-width: 550px;
	border-radius: 10px;
	border: 2px solid black;
	/*border-style: dotted;*/
	background-color: #FCFF88;
}

.containerRegister{
	position: relative;
	margin-top: 20px;
	padding: 20px;
	text-align: center;
}

.button{
	border: 0px;
	background-color: #fff;
}

.card-body {
    padding: 5px;

}

.card {
	--bs-card-border-color: none;
	background-color: #C2ECAC;
	width: 440px;
}

.btn:hover {
    color: var(--bs-btn-hover-color);
    background-color: #61DA2F;
    border-color: var(--bs-btn-hover-border-color);
}

.cont{
	position: relative;
	min-width: 505px;
	align-items: center;
}

.textoPregunta{
	position: absolute;
    width: 445px;
    text-align: center;
    font-style: italic;
}

.col-2{
	padding: 0px;
	display: flex;
	width: 40px;
    justify-content: center;
}

.col-10{
	padding: 0px;
}

.col-8{
	width: 466px;

}

.col-5{
	width: 194px;
}

.checkMain{
	margin: auto;
	width: 200px;
}

.modal-header {
	border-bottom:none;
	position: fixed;
    width: 100%;
}

.btn-primary{
	--bs-btn-color: #000000;
	--bs-btn-bg: none;
	--bs-btn-border-color: none;
}

.form-check{
	max-width: 170px;
	margin: auto;
	padding-right: 10px;
}

.vidas-main{
	width: 280px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	margin-top: 40px;
}

.vidas{
	width: 65px;
}

.fs-5 {
	margin-top: 20px;
    font-size: 2.25rem!important;
}


.menu-main{
	background-color: red;
	border-left: solid 5px black;
	height: 100%;
	right: 0px;
	position: absolute;
	width: 220px;
}

.main-btns{
	position: absolute;
	display: flex;
	flex-direction: column;
	margin: auto;
	align-items: center;
	width: 215px;
	bottom: 43%;
}

.btn-menu{
	border-radius: 15px;
	border: solid 1px black;
	margin-bottom: 8px;
	width: 140px;
	text-align: center;
}

.main{
	width: 100%;
	height: 100%;
	/*background-image: url("../img/background.jpg");*/
	/*background-size: cover;*/
}


